<div>
  <%= live_component(@socket, GuatemalaWeb.HeaderComponent, session: @session, id: "header") %>
</div>
<div>
    <%= live_component(@socket, GuatemalaWeb.FormCustomerComponent, session: @session, id: "form_customers") %>
</div>
