<div>
  <%= live_component(@socket, GuatemalaWeb.HeaderComponent, session: @session, id: "header") %>
</div>
<div>
    <%= live_component(@socket, GuatemalaWeb.FormProductsComponent, session: @session, id: "form_products") %>
</div>
