<div>
  <%= live_component(@socket, GuatemalaWeb.HeaderComponent, session: @session, id: "header") %>
</div>
<div>
    <%= live_component(@socket, GuatemalaWeb.CatalogComponent, session: @session, id: "catalogs") %>
</div>
